
.header-intro{
    min-height: 100vh;
    height: auto;
    width: 100%;

    background:
    linear-gradient(
    to bottom,
    rgba(9, 7, 6, 0.198) 40%,
    #090706 90%
    ),
    url("../../imgs/bg-header.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

}
.header-intro-content-img{
    display: flex;
    justify-content: center;
}
.header-intro-content-img img{

    margin-top: -130px;
    margin-bottom: -130px;  
    height: 200px;
}

.header-intro-content-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-intro-content-text h1{
    text-align: center;

    font-weight: 500;
    letter-spacing: 1px;
    font-size: 55px;
    padding: 10px;
    line-height: 45px;
    text-transform: uppercase;

    background: linear-gradient(
        90deg,
        #f95b5b,
        #ff9900,
        #ff0000
    );
    background-size: 300% 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: introGradientMove 8s ease infinite;

}

/* Animação do gradiente */
@keyframes introGradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header-intro-content-text p{
    letter-spacing: 0.5px;
    font-weight: 400px;
    font-size: 22px;
    color: white;

    text-align: center;
    line-height: 25px;
}

.header-intro-content-button{
    display: inline-block;

    text-align: center;
    text-decoration: none;
    color:#0F0F0F;
    font-size: 20px;

    background-color: rgba(245, 245, 245, 0.863);
    width: 220px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #00000067;
    
    transform: scale();
    transition: 0.5s ease;
}

.header-intro-content-button:hover{
    transition: 0.5s;
    transform: scale(1.05);
    background-color: #00000070;
    box-shadow: 1px 1px 10px #ffffff53;
}

.header-intro-content-button span{
    transition: 0.5s;
    
}
.header-intro-content-button:hover span{
    transition: 0.5s;
    background: linear-gradient(10deg, #ff8989, #ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-intro-svg{
    color: white;
    animation: arrowDown 2.0s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    gap: 5px;
}

/* MAIN EQUIP*/

.main-equip{
    height: fit-content;
    width: 100%;

    background-color: #090706;
    padding-bottom: 160px;
}

.main-equip-content h1 {
    background: linear-gradient(
        90deg,
        #ff9900,
        #ff8989,
        #ff9900
    );
    background-size: 300% 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 8s ease-in-out infinite;


    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 500;

    text-align: center;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.main-equip-content-grid{    
    margin-top: 6%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.main-equip-content-grid-card{
    padding: 20px;
    border-radius: 15px;
    height: 250px;
    width: 350px;
    background-color: rgba(52, 52, 52, 0.636);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;


    transform: scale();
    transition: 0.5s ease;
    z-index: 1;
}
.main-equip-content-grid-card::before{
      content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* espessura da borda */
  border-radius: inherit;

  background: linear-gradient(135deg, #414141, #bfbfbf);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  z-index: -1;
}
.main-equip-content-grid span{
    font-weight: 900;
    
}
.main-equip-content-grid-card:hover{
    transform: scale(1.05);
}
.main-equip-content-grid-card p{
    padding: 15px;
    color: white;
    font-size: 20px;
    line-height: 20px;
}




.main-equip-card-header-1{   /*CARDS DO NOSSA EQUIPE*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5px;

}

.main-equip-card-header-1 h2{
    color: #ff1010;
    font-size: 25px;
    padding-top: 5px;
}
.main-equip-card-header-1 svg{
    color: #ff1010;
}

.main-equip-card-header-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.main-equip-card-header-2 h2{
    color: #72fa29;
    font-size: 25px;
    padding-top: 5px;
    line-height: 25px;
}

.main-equip-card-header-2 svg{
    color: #72fa29;
}

.main-equip-card-header-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main-equip-card-header-3 h2{
    color: #ffaa00;
    font-size: 25px;
    padding-top: 5px;
}

.main-equip-card-header-3 svg{
    color: #ffaa00;
}


/*SEVICES*/
.main-services{
    width: 100%;
    height: fit-content;
    background-color: #090706;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-services-content{
    padding-bottom: 100px ;
}
.main-services-content h1 {
    background: linear-gradient(
        90deg,
        #ff9900,
        #ff8989,
        #ff9900
    );
    background-size: 300% 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 8s ease-in-out infinite;


    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 500;

    text-align: center;
}


.main-services-content-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    max-width: 1200px;
    margin: 40px auto 0;

    padding: 10px;
}

.service-step{
    padding: 15px;
}

.service-step h2{
    background: linear-gradient(10deg, #ffffff, #4a4a4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 5px;

}
.service-step p{
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-size:20px;
    line-height: 25px;
}
.service-step-1{
    position: relative;
}
.service-step-1::after{
    content: "";
    height: 0%;
    width: 2px;

    position: absolute;
    left: 0;
    top: 0;

    background-color:#ffffff4b;
    transition: 0.8s;
}
.service-step-1:hover::after{
    transition: 0.3;
    height: 100%;
    width: 1px;
}
.service-step-1 h2{
    line-height: 25px;
}
.service-step-2{
    position: relative;
    
}
.service-step-2::after{
    content: "";
    height: 0%;
    width: 2px;

    position: absolute;
    left: 0;
    top: 0;

    background-color:#ffffff4b;
    transition: 0.8s;
}
.service-step-2:hover::after{
    height: 100%;
    width: 1px;
}

.service-step-2 p{

    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size:22px;
    line-height: 20px;

    font-weight: 600px;
    
}

.service-step-2 ul{
    list-style-type: upper-roman;
    list-style-position: inside;
    padding-left: 20px;
    
}

.service-step-2 ul li {

    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
    line-height: 25px;
    border-bottom: #6f6f6f3b 1px solid;
}
.service-step-2 ul li::marker{
    color: #ffcd69;
}

.service-step-3{
    position: relative;
}
.service-step-3::after{
    content: "";
    height: 0%;
    width: 2px;

    position: absolute;
    left: 0;
    top: 0;

    background-color:#ffffff4b;
    transition: 0.8s;
}
.service-step-3:hover::after{
    height: 100%;
    width: 1px;
}
.service-step-3 h2{
    line-height: 30px;
}
.service-step-4{
    position: relative;
}
.service-step-4::after{
    content: "";
    height: 0%;
    width: 2px;

    position: absolute;
    left: 0;
    top: 0;

    background-color:#ffffff4b;
    transition: 0.8s;
}
.service-step-4:hover::after{
    height: 100%;
    width: 1px;
}
.service-step-4 h2{
    line-height: 25px;
}

/*SOBRE OS CURSOS*/
.main-courses{
    width: 100%;
    min-height: 100vh;
    height: auto;
    
    background:
    linear-gradient(
    to left,
    rgba(9, 7, 6, 0.198) 0%,
    #090706 56%
    ),
    url("../../imgs/bg-courses.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;


}

.main-courses-content {
padding: 100px 100px;
}
.main-courses-content h1 {
    background: linear-gradient(
        90deg,
        #ff9900,
        #ff8989,
        #ff9900
    );
    background-size: 300% 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 8s ease-in-out infinite;


    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 500;

    text-align: center;
    line-height: 60px;
    padding: 10px;
}
.main-courses-content-itens{
    padding-top: 130px;
    

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
    
}
.main-courses-content-texts {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    font-size: 25px;
    line-height: 27px;
    color: white;

    position: relative;
}

/* BORDAS */
.main-courses-content-texts::before,
.main-courses-content-texts::after {
    content: "";
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* BORDA SUPERIOR E INFERIOR */
.main-courses-content-texts::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: opacity 0.4s ease;
}

/* BORDA LATERAL */
.main-courses-content-texts::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: opacity 0.4s ease;
}

/* ENTRADA RÁPIDA */
.main-courses-content-texts:hover::before,
.main-courses-content-texts:hover::after {
    opacity: 1;
    transition-delay: 0s;
}

/* SAÍDA LENTA (3s) */
.main-courses-content-texts::before,
.main-courses-content-texts::after {
    transition-property: opacity;
    transition-duration: 3s;
}


.main-courses-content-itens img{
    height: 500px;
    border-radius: 100%;
    box-shadow: 50px 0px 0px rgb(100, 100, 100);
}
.main-courses-content-card{
    width: 500px;
    height: fit-content;
    background-color: #bbbbbb52;
    backdrop-filter: blur(18px);
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.5s;
}
.main-courses-content-card:hover{
    transform: translateY(-4px);
}
.main-courses-content-card h2{
    text-align: center;
    font-size: 40px;
    background: linear-gradient(
        90deg,
        #ffc507,
        #6b0000,
        #ff8307
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease-in-out infinite;
}

.main-courses-content-card h3{
    padding: 0;
    margin-top: -15px;
    font-size: 22px;
    color: #ffdb70;
    text-align: center;
}

.main-courses-content-card p {
    padding-top: 15px;
    color: #ffffff;
    font-size: 19px;
    line-height: 23px;


}

.main-courses-content-card a{
    margin-top: 20px;
    text-decoration: none;
    width: fit-content;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: #000000a8;

    transition: 0.5s;
}
.main-courses-content-card a:hover{
    transform: scale(1.1);
    color: #0F0F0F;
    background-color: #fbfbfba8;
}
.main-courses-content-card a svg{
    padding-right: 5px;
}
.scroll-down {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.arrow {
  animation: arrowDown 2.0s ease-in-out infinite;
}

@keyframes arrowDown {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.9;
  }
  50% {
    transform: translateY(4px);
    opacity: 0.6;
  }
}



/*FOOTER*/
.footer-main{
    width: 100%;
 
    background-color: #090706;
}

.footer-content{
    border-top: 1px solid rgba(255, 255, 255, 0.266);
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top:80px;
    padding-bottom: 80px;
}

.footer-content-quotes h3 {
    color: white;
    position: relative;
    display: inline-block;
}

.footer-content-quotes h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;

    width: 0;
    height: 2px;
    background-color: #ededed;

    transform: translateX(-50%);
    transition: width 0.9s cubic-bezier(.4,0,.2,1);
}

.footer-content-quotes h3:hover::after {
    width: 100%;
}

.footer-content-quotes p{
    margin-top: 10px;
    
    line-height: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-content-quotes p a {
    display: inline-block;
    text-decoration: none;
    color: white;

    background: linear-gradient(90deg, #ff0303, #ffa600);
    background-size: 200%;
    background-position: 0%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: white;

    transition: 
      background-position 0.45s cubic-bezier(.4,0,.2,1),
      -webkit-text-fill-color 0.1s ease;
}

.footer-content-quotes p a:hover {
    cursor: pointer;
    background-position: 100%;
    -webkit-text-fill-color: transparent;
}